html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color:#fff;
	background-color:#3A3B47 ;
	font-family: 'Courier New', Courier, monospace;
}

.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0;
	/* height: 100vh;  */
	margin: 0;
}

.banner {
	display: flex;
	flex-wrap: wrap;
}

.banner img {
	width: 100%;
}

h1 a {
	text-align: center;
	margin: 0;
	color: #FFF;
	text-decoration: none;
}

h2 {
	margin: 0;
	padding: 5px 0px 5px;
	color: #7b3d3d;
}

h4 {
	margin: 0;
	padding: 12px 0px 5px;
}

.cocktail-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
	/* height: 100vh;  */
	margin: 0;
}

.card {
	height: 500px;
	position: relative;
	display: flex;
	flex-direction: column;
	color: #111;
	background-color: #EEE;
	border: 15px solid #fff;
	list-style: none;
	margin: 20px;
	padding: 20px;
	width: 300px;
	box-shadow: #000 20px;
}

.ingredients {
	flex-direction: column;
	padding-left: 10px;
	/* align-content: flex-start; */
}

li ul li {
	display: flex;
	border: none;
	margin: 0px;
	padding: 0px;
}

.glass img {
	width: 40px;
	height: 50px;
	/* position: absolute;
	right: 0px; */
	/* object-position: right bottom; */
}

.glass {
	display: flex;
	align-self: flex-end;
	position: absolute;
	bottom: 20px;
	right: 20px;
}


.cocktail-page {
	width: 1000px;
	margin: 0 auto;
}

a {
	color: #e0a2a2;
	text-decoration: underline;
}

.cocktail-details {
	margin-bottom: 50px;
}

small {
	color: #97d69a
}

.learn-more {
	margin-top: 20px;
	position:absolute;
	bottom: 20px;
	left: 20px;
	background-color: #7b3d3d;
	border-radius: 20px;
}

.learn-more a {
	text-decoration: none;
	color:#EEE;
	padding: 10px 20px;
}
