html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color:#fff;
	background-color:#3A3B47 ;
}

ul {
	display: flex;
	flex-wrap: wrap;
}

li {
	/* display: flex; */
	color: #111;
	background-color: #EEE;
	border: 15px solid #fff;
	list-style: none;
	margin: 20px;
	padding: 20px;
	width: 300px;
}

li ul {
	flex-direction: column;
	padding-left: 10px;
}

li ul li {
	display: flex;
	border: none;
	margin: 0px;
	padding: 0px;
}